.desktop-1-child {
  position: absolute;
  top: 0;
  left: -1520px;
  background-color: #299cc8;
  width: 5150px;
  height: 210px;
}
.component-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: 0 0 42.5px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-10xs);
  background-color: var(--color-white);
}
.information-importante-relativ {
  position: absolute;
  height: 6.35%;
  width: 87.3%;
  top: 8.03%;
  left: 6.34%;
  font-size: 16px;
  font-weight: 500;
  color: #9f0616;
  text-align: center;
  display: inline-block;
}
.laccs-la {
  margin: 0;
}
.laccs-la-container {
  position: absolute;
  height: 39.85%;
  width: 87.3%;
  top: 22.59%;
  left: 6.34%;
  font-size: var(--font-size-2xs);
  font-weight: 500;
  display: inline-block;
}
.httpsmonlyceenet20240321 {
  color: var(--color-skyblue);
}
.chartes-dutilisation-monlyce,
.httpsmonlyceenet2024032 {
  position: absolute;
  height: 7.12%;
  width: 87.3%;
  top: 60.37%;
  left: 6.48%;
  font-weight: 500;
  display: inline-block;
  cursor: pointer;
}
.chartes-dutilisation-monlyce {
  height: 3.62%;
  width: 56.62%;
  top: 86.23%;
  left: 36.9%;
  color: var(--color-skyblue);
}
.rectangle-parent {
  position: absolute;
  top: 105px;
  left: calc(50% - 177.5px);
  width: 355px;
  height: 406px;
}
.component-2-item {
  position: relative;
  height: 9.18%;
  width: 70.99%;
  top: 50%;
  right: 17.75%;
  bottom: 40.82%;
  left: 11.27%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--color-white);
}
.identifiant,
.mot-de-passe {
  position: absolute;
  height: 6.12%;
  width: 19.44%;
  top: 14.63%;
  left: 11.27%;
  font-size: var(--font-size-smi);
  font-weight: 500;
  display: inline-block;
}
.mot-de-passe {
  height: 6.46%;
  width: 25.92%;
  top: 38.1%;
}
.identifiant-oubli,
.mot-de-passe1,
.se-souvenir-de {
  position: absolute;
  height: 5.1%;
  width: 30.42%;
  top: 70.07%;
  left: 18.59%;
  font-weight: 500;
  display: inline-block;
}
.identifiant-oubli,
.mot-de-passe1 {
  width: 26.76%;
  top: 79.59%;
  left: 10.7%;
  color: var(--color-skyblue);
  cursor: pointer;
}
.mot-de-passe1 {
  height: 5.78%;
  width: 32.39%;
  top: 86.39%;
}
.component-2-inner,
.rectangle-div {
  position: absolute;
  background-color: var(--color-white);
}
.component-2-inner {
  height: 9.52%;
  width: 81.41%;
  top: 23.13%;
  right: 7.32%;
  bottom: 67.35%;
  left: 11.27%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.rectangle-div {
  height: 7.14%;
  width: 5.92%;
  top: 69.05%;
  right: 83.38%;
  bottom: 23.81%;
  left: 10.7%;
  border: 3px solid var(--color-dimgray);
  box-sizing: border-box;
  cursor: pointer;
}
.component-2-child1 {
  position: absolute;
  height: 9.18%;
  width: 10.42%;
  top: 50%;
  right: 7.32%;
  bottom: 40.82%;
  left: 82.25%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-11xs) var(--br-2xl) var(--br-2xl) var(--br-11xs);
  background-color: var(--color-darkorange);
}
.component-2-child2 {
  position: absolute;
  height: 11.9%;
  width: 23.38%;
  top: 78.91%;
  right: 7.32%;
  bottom: 9.18%;
  left: 69.3%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  background-color: var(--color-darkorange);
}
.connexion {
  position: absolute;
  height: 5.44%;
  width: 17.18%;
  top: 82.31%;
  left: 72.68%;
  font-weight: 500;
  color: var(--color-white);
  display: inline-block;
  cursor: pointer;
}
.component-2 {
  position: absolute;
  top: 534px;
  left: calc(50% - 177.5px);
  width: 355px;
  height: 294px;
  font-size: var(--font-size-2xs);
  color: var(--color-dimgray);
}
.image-2-icon {
  position: absolute;
  top: 18px;
  left: 20px;
  width: 353px;
  height: 86.9px;
  object-fit: cover;
}
.desktop-1 {
  width: 100%;
  position: relative;
  background-color: #ebecf0;
  height: 852px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-black);
  font-family: var(--font-inter);
}
#identifiant {
  position: absolute;
  width: 280px; /* Largeur du champ de texte */
  height: 20px; /* Hauteur du champ de texte */
  left: 40px; /* Position horizontale à 100 pixels de la gauche */
  top: 70px; /* Position verticale à 50 pixels du haut */
  font-size: 12px; /* Taille de la police */
  border: none; /* Retirer la bordure */
  outline: none; /* Retirer le contour */
  z-index: 9999;
  /* Autres styles CSS */
}
#motdepasse {
  position: absolute;
  width: 280px; /* Largeur du champ de texte */
  height: 20px; /* Hauteur du champ de texte */
  left: 40px; /* Position horizontale à 100 pixels de la gauche */
  top: 150px; /* Position verticale à 50 pixels du haut */
  font-size: 12px; /* Taille de la police */
  border: none; /* Retirer la bordure */
  outline: none; /* Retirer le contour */
  z-index: 9999;
  background: transparent;
  /* Autres styles CSS */
}